<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
     <img src="/img/logo-mercado-liebre.svg" alt="logo de MercadoLiebre">
    <input>Lugar para poner la barra de busqueda</input>
    
    <p>Comprá en cuotas y sin tarjeta de crédito</p>

    <nav>
        <ul>
            <li><a href="#">PRIMERA LISTA (ofertas)</a></li>
            <li><a href="#">tiendas oficiales</a></li>
            <li><a href="#">vender</a></li>
            <li><a href="#">ayuda</a></li>
        </ul>

        <ul>
            <li><a href="#">crea tu cuenta</a></li>
            <li><a href="#">tiendas oficiales</a></li>
            <li><a href="#">vender</a></li>
            <li><a href="#">ayuda</a></li>
        </ul>
    </nav>



</header>

<main>
<section>
seccion1
</section>

<section>
seccion2
</section>


</main>


<footer>
aca va el footer

</footer>



</body>
</html>